<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
  <title tiles:fragment="title">Messages : Create</title>
</head>
<body>

<div th:if="${bookingModify == 'true'}">
  <p>Onsite Booking </p>
  <!--  <p th:text="'Test site location: ' + ${onSiteLocation.name}"/>-->
  <p> Modify Existing Booking for in-person testing:</p>
  <form action="#" data-th-action="@{/book/onsite}" data-th-object="${booking}" method="post">
    <p><input type="hidden" th:field="*{customerId}"/></p>
    <p><input type="hidden" th:field="*{bookingId}"/></p>
    <p th:text="'Customer/Patient ID: ' + ${{booking.customerId}}"/>
    <p th:text="'Booking Current Start Time: ' + ${{booking.startTime}}"/>

    <p> Test site ID:  <select name="chosenTestSite">
      <option th:each="i :  ${testSite}" th:value="${i.getId()}" th:text="${i.getName()}">
      </option>
    </select>
    </p>


    <label>Date Time: </label><input type="datetime-local" th:field="*{startTime}"/>
    <p>Notes: <input type="text" th:field="*{notes}" /></p>
    <button type="submit" name="action" value="modify">Book</button>
  </form>
  <form action="#" data-th-action="@{/validUser}"  method="get">
    <button type="submit" name="action" value="">Go Back</button>
  </form>




  <div th:if="${hasBookedSuccessfully == 'true'}" >
    <p>Booked successfully, sms pin has been sent.</p>

  </div>

  <div th:if="${hasBookedSuccessfully == 'false'}" >
    <p>Unable to book, please try again</p>

  </div>
  <h1>Revert to a Previous Modified Booking</h1>

  <div th:insert="Booking/previousBookings.html"></div>

  <h1>Testing Site Details</h1>

  <div th:insert="TestSite/testSiteTable.html"></div>

</div>



</body>
</html>